body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/gamebackground.jpeg'); 
    background-size: cover;
    background-position: center;
}

.game-container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

img {
    width: 100px;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}
.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: repeat(3, auto);
    gap: 10px;
    margin-bottom: 20px;
}

.game-board div {
    background-color: #f8f9fa;
    border: 2px solid #f72803;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: #2f00ff;
    cursor: pointer;
    height: 100px;
    background-size: cover;
    background-position: center;
}